*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background: #111;
}

.open-modal-btn{
  padding: 12px 15px;
  font-size: 20px;
  border: none;
  width: 200px;
  display: block;
  margin: 100px auto;
  min-width: 150px;
  border-radius: 5px;
  cursor: pointer;
}

.modal{
  position: fixed;
  inset: 0;
  background-color: #333333d3;
  display: none;
  justify-content: center;
  align-items: center;
}

.modal.active{
  display: flex;
}

.modal-content{
  flex-grow: 1;
  max-width: 500px;
  position: relative;
  padding: 30Px;
  background-color: #fff;
  margin-bottom: 10vw;
  border-radius: 5px;
}

.close-modal-btn{
  padding: 2px 5px;
  font-size: 15px;
  border: none;
  border-radius: 5px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  background-color: red;
  color: white;
}

.modal-text{
  line-height: 1.5;
  margin-bottom: 10px;
  margin-top: 10px;
}